In [19]:
import emoji
print(emoji.emojize('Python is :thumbs_up:'))





# Ask the user for three variables
value_1 = input("Please enter a number (this will be converted to a float): ")
value_2 = input("Please enter a text (this will be converted to a string): ")
value_3 = input("Please enter an integer (this will be converted to an integer): ")

# Convert the inputs to the desired types
Float_Value_1 = float(value_1)
String_value_2 = str(value_2)
Integer_value_3 = int(value_3)

# Display the converted values
print("\nConverted Values:")
print(f"Float value: {Float_Value_1}")
print(f"String value: {String_value_2}")
print(f"Integer value: {Integer_value_3}")

Python is ðŸ‘

Please enter a number (this will be converted to a float):  4444
Please enter a text (this will be converted to a string):  Vinay12354w3ksdfsdlkn
Please enter an integer (this will be converted to an integer):  433

Converted Values:
Float value: 4444.0
String value: Vinay12354w3ksdfsdlkn
Integer value: 433

In [6]:
import sys
decimal = 16545612310.087656746745641
print('The size of float variable is:',sys.getsizeof(decimal),'bytes.')

The size of float variable is: 24 bytes.

In [10]:
print('the size is:' , sys.getsizeof(decimal), 'bytes')

size = sys.getsizeof(decimal)
print(size)

the size is: 24 bytes
24

In [52]:
import sys

my_string = 'Hello, Python!'
size_string = sys.getsizeof(my_string)

print(size_string)

55

In [71]:
print('Good Morning!', end= '-------')
print('It is rainy today!')

Good Morning!-------It is rainy today!

In [73]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [85]:
print('New Year', 2023, 'See you soon!', sep='. ')

New Year. 2023. See you soon!

In [113]:
name = input('Enter your name: ') 
print('Your name:', name)

type(name)

Enter your name:  11

Your name: 11

str

In [111]:
age = int(input())

print('your age:' , age)

 42.3

ValueError: invalid literal for int() with base 10: '42.3'

In [121]:
name = rahul = 'Tiwari'

print(name)

type(name)

Tiwari

str

In [123]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [127]:
name = 'Vinay'
id(name)

2297694576224

In [131]:
name = 'Vinay'
id(name)

2297694576224

In [152]:
import math

x = math.sqrt(100)
type(x)

float

In [160]:
import math
x = 1000
y = 3
z = x//y
d = x%y
print(d)

1

In [3]:
X = 10
X +=20
print(X)

30